body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: white;
    min-height: 100vh;
    font-family: 'NTR', sans-serif;
    margin: 0;
}

* {
    margin: 0 auto;
    padding: 0;
}

.title-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/silver-diamond-plate.jpg");
    background-size: cover;
    border-bottom: 3px solid #3a54a4;
}

.head-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    background-color:white;
    height: 50px;
    text-decoration: none;
    z-index: 1;
}

.head-nav ul li > ul {
    display: none;
    flex-direction: column;
}

.head-nav ul li > ul li {
    width: 100%;
}

.head-nav ul li:hover > ul {
    display: flex;
}

.head-nav a:hover {
    background-color: #3a54a4;
    color: white;
}

.head-nav ul {
    list-style: none;
    display: flex;
}

.head-nav ul li {
    position: relative;
    width: 100%;
    text-align: center;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:lightgray;
    max-width: 71%;
    margin: 0 auto;
    height: auto;
}

@media screen and (max-width: 419px) {
    .logo-container {
      width: 100%;
      display: flex;
    }
  
    .logo-container img {
      width: 100%;
    }
}

.main-logo {
    margin-top: -30px;
    margin-bottom: 15px;
}

h2 {
    text-align: center;
    color: #25274d;
    font-size: 14pt;
}

p {
    text-align: center;
    /*text-align-last: justify;*/
    color: white;
}

.b {
    text-emphasis: center;
    color: white;
}



.c {
    font-size: 16pt;
    text-align: center;
    color: #25274d;
}

.c a:any-link {
    color: #25274d;
    text-decoration: none;
}

.c a:link {
    color: #25274d;
}

.c a:visited {
    color: #25274d;
}

.c a:hover {
    background-color: white;
    color: #25274d;
}

.c a:active {
    color: #25274d;
}

.contact-button {
    display: flex;
    justify-content: center;
    width: 250px;
    background-color: #00688b;
    height: 40px;
    margin: 5px;
}

.container a {
    width: 30%;
}
  
.container img {
    width: 100%;
    padding: 10px;
}
  
@media screen and (max-width: 800px) {
    .container {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .container a {
        width: 100%;
    }
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}